<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Plan</strong> <small>{{ item.id ? 'edit' : 'add' }}</small>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          More complex forms can be built using our grid classes. Use these for form layouts
          that require multiple columns, varied widths, and additional alignment options.
        </p>
        <form>
          <c-row class="mb-3">
            <c-col sm="10" class="offset-md-2">
              <c-form-check>
                <input cFormCheckInput id="form_active" name="form_active" type="checkbox"
                  [value]="Item.active ? Item.active : true" (change)="Item.active = val($event)" />
                <label cFormCheckLabel for="form_active">{{ getTitle('active') }}</label>
              </c-form-check>
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_name">
              {{ getTitle('name') }}
            </label>
            <c-col md="5">
              <input cFormControl id="form_name" type="ip" [value]="Item.title ? Item.title : ''"
                (change)="Item.title = val($event)" />
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_price">
              {{ getTitle('price') }}
            </label>
            <c-col md="5">
              <input cFormControl id="form_price" type="number" [value]="Item.price ? Item.price : ''"
                (change)="Item.price = val($event)" />
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_imageFile">
              {{ getTitle('imageFile') }}
            </label>
            <c-col md="5">
              <input cFormControl id="form_imageFile" type="text" [value]="Item.imageFile ? Item.imageFile : ''"
                (change)="Item.imageFile = val($event)" />
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_color">
              {{ getTitle('color') }}
            </label>
            <c-col lg="2" md="3">
              <select aria-label="Pick a color" id="form_color" cSelect [value]="Item.color ? Item.color : ''"
                (change)="Item.color = val($event)">
                <option *ngFor="let color of Colors;" value="{{ color.value }}">{{ color.title }}</option>
              </select>
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_description">
              {{ getTitle('description') }}
            </label>
            <c-col md="5">
              <textarea cFormControl id="form_description" rows="3" [value]="Item.description ? Item.description : ''"
                (change)="Item.description = val($event)"></textarea>
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_modified">
              {{ getTitle('modified') }}
            </label>
            <c-col md="5">
              <input cFormControl disabled id="form_modified" type="text"
                [value]="Item.modified ? Item.modified : ''" />
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_created">
              {{ getTitle('created') }}
            </label>
            <c-col md="5">
              <input cFormControl disabled id="form_created" type="text"
                [value]="Item.created ? Item.created : ''" />
            </c-col>
          </c-row>
          <div class="d-grid gap-2 d-md-block">
            <button cButton (click)="Submit()" class="me-md-2">Submit</button>
            <button cButton routerLink="/plans" class="me-md-2" color="secondary" variant="outline">Cancel</button>
            <button cButton (click)="Delete()" class="me-md-2" color="danger" variant="outline">Delete</button>
          </div>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>