<c-row>
  <c-col xs="12">
    <app-form title="Server"
      comment="More complex forms can be built using our grid classes. Use these for form layouts that require multiple columns, varied widths, and additional alignment options."
      list-route="/servers" [is-new]="Item.id ? false: true" (submit)="Submit()" (delete)="Delete()">

      <c-row class="mb-3">
        <label cLabel class="col-md-2 col-form-label" for="form_nasname">
          {{ titleOf('nasname') }}
        </label>
        <c-col md="5">
          <input cFormControl id="form_nasname" type="ip" [value]="Item.nasname"
            (change)="Item.nasname = val($event)" />
        </c-col>
      </c-row>
      <c-row class="mb-3">
        <label cLabel class="col-md-2 col-form-label" for="form_shortname">
          {{ titleOf('shortname') }}
        </label>
        <c-col md="5">
          <input cFormControl id="form_shortname" type="text" [value]="Item.shortname"
            (change)="Item.shortname = val($event)" />
        </c-col>
      </c-row>
      <c-row class="mb-3">
        <label cLabel class="col-md-2 col-form-label" for="form_secret">
          {{ titleOf('secret') }}
        </label>
        <c-col md="5">
          <input cFormControl id="form_secret" type="text" [value]="Item.secret"
            (change)="Item.secret = val($event)" />
        </c-col>
      </c-row>
      <c-row class="mb-3">
        <label cLabel class="col-md-2 col-form-label" for="form_auto_close">
          {{ titleOf('heartbeatDeadAfter') }}
        </label>
        <c-col lg="2" md="3">
          <input cFormControl id="form_auto_close" type="number"
            [value]="Item.heartbeatDeadAfter"
            (change)="Item.heartbeatDeadAfter = val($event)" />
        </c-col>
      </c-row>
      <c-row class="mb-3">
        <label cLabel class="col-md-2 col-form-label" for="form_modified">
          {{ titleOf('modified') }}
        </label>
        <c-col md="5">
          <input cFormControl disabled id="form_modified" type="text"
            [value]="Item.modified ? getDateTimeString(Item.modified) : ''" />
        </c-col>
      </c-row>
      <c-row class="mb-3">
        <label cLabel class="col-md-2 col-form-label" for="form_created">
          {{ titleOf('created') }}
        </label>
        <c-col md="5">
          <input cFormControl disabled id="form_created" type="text"
            [value]="Item.created ? getDateTimeString(Item.created) : ''" />
        </c-col>
      </c-row>
    </app-form>
  </c-col>
</c-row>