<table id="MainTable" mat-table [dataSource]="DataSource" class='table table-bordered table-striped table-hover'>

  <ng-container [matColumnDef]="column" *ngFor="let column of DisplayColumns">
    <th mat-header-cell *matHeaderCellDef>{{getTitle(column)}}</th>
    <td mat-cell *matCellDef="let element">{{element[column]}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="DataColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: DataColumns;"
      (click)="selectRow(row.id)"
      [style.background]="isSelected(row.id) ? 'lightblue' : ''"></tr>
</table>
