@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Photon.Service.VPN.Pages.RoutesPage
@{
    var row_number = 0;
    Layout = "~/pages/layouts/list-view.cshtml";
}

@section THead {
    <tr>
        <th style="width: 1%">
            #
        </th>
        <th>Name</th>
        <th>Template</th>
        <th>Page</th>
        <th>Action</th>
        <th>Controller</th>
        <th>Constraints</th>
    </tr>
}

@foreach (var p in Model.PageList)
{
    <tr>
        <td>
            @(++row_number)
        </td>
        @foreach(var c in p)
        {
            <td>@c</td>
        }
    </tr>
}
