<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>{{ title }}</strong> <small>list</small>
      </c-card-header>
      <c-card-body>
        <app-list-buttons 
          (reloadClick)="tableView.Relaod()"
          (addClick)="onAddClick()"
          (editClick)="onEditClick()"
          (removeClick)="onDeleteClick()"
          (undoClick)="tableView.ClearSelected()"
          [show-add]="show_add"
          [show-edit]="show_edit"
          [show-reload]="show_reload"
          [show-remove]="show_remove"
          [show-undo]="show_undo"></app-list-buttons>
        <ng-content></ng-content>
      </c-card-body>
      <c-card-body>
        <app-table-view #tableView
          [filter]="filter"
          [service]="service"
          [columns-info]="columns_info"
          [data-projection]="data_projection"
          (double-click)="onDbClick($event)">
        </app-table-view>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
