<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>{{ title }}</strong> <small>list</small>
      </c-card-header>
      <c-card-body>
        <app-list-buttons 
          (reloadClick)="ngOnInit()"
          (addClick)="onAddClick()"
          (editClick)="onEditClick()"
          (removeClick)="onDeleteClick()"></app-list-buttons>
      </c-card-body>
      <c-card-body class="overflow-auto">
        <table cTable app-table-view #tableView
          [columns-info]="columns_info"
          [striped]="true" 
          [hover]="true"
          (dbClick)="onDbClick($event)">
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
