<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Servers</strong> <small>list</small>
      </c-card-header>
      <c-card-body class="overflow-auto">
        <p class="text-medium-emphasis small">
          Using the most basic table CoreUI, here&#39;s how <code>cTable</code>-based
          tables look in CoreUI.
        </p>
        <table cTable app-list-view [columns-info]="columns_info" [data-provider]="data_provider" [striped]="true" [hover]="true">
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
