<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header ngPreserveWhitespaces>
        <strong>Payment</strong> <small>{{ Item.id ? "edit" : "add" }}</small>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          More complex forms can be built using our grid classes. Use these for
          form layouts that require multiple columns, varied widths, and
          additional alignment options.
        </p>
        <form>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_permanentUserId">
              {{ titleOf("permanentUserId") }}
            </label>
            <c-col md="5">
              <select app-select cSelect #userSelector aria-label="User" id="form_permanentUserId"
                [value]="Item.permanentUserId" [lazy-load]="true" (focus)="LoadUsers()"
                (change)="Item.permanentUserId = val($event)" [service]="users_srv">
              </select>
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_value">
              {{ titleOf("value") }}
            </label>
            <c-col md="5">
              <input cFormControl id="form_value" type="number" [value]="Item.value"
                (change)="Item.value = val($event)" />
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_trnsactionId">
              {{ titleOf("trnsactionId") }}
            </label>
            <c-col md="5">
              <input cFormControl id="form_trnsactionId" type="text" [value]="Item.trnsactionId"
                (change)="Item.trnsactionId = val($event)" />
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_auto_close">
              {{ titleOf("dateTime") }}
            </label>
            <c-col lg="3" md="4">
              <input cFormControl id="form_auto_close" type="date" [value]="Item.dateTime | date:'yyyy-MM-dd'"
                (change)="Item.dateTime = val($event)" />
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_bankName">
              {{ titleOf("bankName") }}
            </label>
            <c-col md="5">
              <input cFormControl id="form_bankName" type="text" [value]="Item.bankName ?? ''"
                (change)="Item.bankName = val($event)" />
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_bankAccount">
              {{ titleOf("bankAccount") }}
            </label>
            <c-col md="5">
              <input cFormControl id="form_bankAccount" type="text" [value]="Item.bankAccount ?? ''"
                (change)="Item.bankAccount = val($event)" />
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <label cLabel class="col-md-2 col-form-label" for="form_created">
              {{ titleOf('created') }}
            </label>
            <c-col md="5">
              <input cFormControl disabled id="form_created" type="text"
                [value]="Item.created ? getDateTimeString(Item.created) : ''" />
            </c-col>
          </c-row>
          <c-row class="mb-3">
            <c-col sm="10" class="offset-md-2">
              <c-form-check>
                <input cFormCheckInput id="form_approved" name="form_approved" type="checkbox"
                  [checked]="Item.approved ? Item.approved : true" (change)="Item.approved = val($event)" />
                <label cFormCheckLabel for="form_approved">{{ titleOf('approved') }}</label>
              </c-form-check>
            </c-col>
          </c-row>
          <app-form list-route="/payments" [is-new]="Item.id ? false: true" (submit)="Submit()" (delete)="Delete()">
          </app-form>
        </form>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>