<!-- Preloader -->
<div class="preloader flex-column justify-content-center align-items-center">
  <img class="animation__shake" src="/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
</div>

<!-- Navbar -->
<app-nav-header>Loading Header</app-nav-header>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<app-nav-menu><span style="color: azure;">Loading Menu</span></app-nav-menu>
<!-- /.main-sidebar -->

<!-- Content Wrapper. Contains page content -->
<router-outlet>Loading Page</router-outlet>
<!-- /.content-wrapper -->

<footer class="main-footer">
  <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 3.2.0
  </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
