<form class="mb-3">
    <c-row class="mb-3">
        <label cLabel class="col-md-2 col-form-label" for="form_title">
            {{ titleOf('title') }}
        </label>
        <c-col md="6">
            <input cFormControl id="form_title" type="text" [value]="Item.title ?? ''"
                (change)="Item.title = val($event)" />
        </c-col>
    </c-row>
    <c-row class="mb-3">
      <label cLabel class="col-md-2 col-form-label" for="form_color">
        {{ titleOf('color') }}
      </label>
      <c-col lg="3" md="4">
        <select app-select cSelect aria-label="Pick a color" id="form_color" [value]="Item.color"
          (change)="Item.color = val($event)" [options]="Colors">
        </select>
      </c-col>
    </c-row>
    <c-row class="mb-3">
        <label cLabel class="col-md-2 col-form-label" for="form_content">
            {{ titleOf('content') }}
        </label>
        <c-col md="8">
            <textarea cFormControl id="form_content" rows="3" [value]="Item.content"
                (change)="Item.content = val($event)"></textarea>
        </c-col>
    </c-row>
    <app-form [is-new]="Item.id ? false: true" (submit)="Submit()" (delete)="Delete()" (cancel)="Cancel()">
    </app-form>
</form>
<app-time-line-view #timeLineView [columns-schema]="columns_schema" class="pt-3" (editClick)="Selected($event)">
</app-time-line-view>