
<div class="mb-4">
  <c-card-body>
    <app-list-buttons 
      (reloadClick)="ngOnInit()"
      (addClick)="onAddClick()"
      [show-edit]="false"
      [show-remove]="false"
      [show-undo]="false"></app-list-buttons>
    <c-button-group>
      <button cButton variant="outline" color="primary">
        <svg cIcon name="cilChart" title="cilChart" size="2xl"></svg>
      </button>
      <button cButton variant="outline" color="success">
        <svg cIcon name="cilChartLine" title="cilChartLine" size="2xl"></svg>
      </button>
      <button cButton variant="outline" color="secondary">
        <svg cIcon name="cilEqualizer" title="cilEqualizer" size="2xl"></svg>
      </button>
    </c-button-group>
  </c-card-body>
</div>
<app-widget-view #widgetView
  [columns-info]="columns_info"
  [columns-schema]="columns_schema"
  (editClick)="onEditClick($event)"
  (removeClick)="onDeleteClick($event)">
</app-widget-view>