<app-table-page [title]="title"
                [columns-info]="columns_info"
                [service]="service"
                (reloading)="LoadActiveCount()">
  <c-button-group class="me-3">
    <button cButton variant="outline" color="primary">
      <svg cIcon name="cilChart" title="Data Usage" size="2xl"></svg>
    </button>
    <button cButton variant="outline" color="success">
      <svg cIcon name="cilChartLine" title="Income" size="2xl"></svg>
    </button>
    <button cButton [routerLink]="'/paymets/edit/user/'" variant="outline" color="info">
      <svg cIcon name="cilMoney" title="Payment" size="2xl"></svg>
    </button>
  </c-button-group>
  <c-button-group>
    <button cButton variant="outline" color="dark">
      Available Simultaneous Uses: {{ active_count }}
    </button>
  </c-button-group>
</app-table-page>
