<c-row>
  <c-col md="3">
    <c-card class="text-center" [cBorder]="{top: {color: 'primary', width: 3}}">
      <c-card-body>
        <h5 cCardTitle *ngIf="Item.surname ?? Item.name ? true : false">
          {{ Item.name }} {{ Item.surname}}
        </h5>
        <h4 cCardTitle>{{ Item.username }}</h4>

        <dl class="row text-truncate">
          <dt class="col-sm-3 text-start">realm</dt>
          <dd class="col-sm-9 text-end">{{ Item.realm }}</dd>

          <dt class="col-sm-3 text-start">profile</dt>
          <dd class="col-sm-9 text-end">{{ Item.profile }}</dd>

          <dt class="col-sm-3 text-start">phone</dt>
          <dd class="col-sm-9 text-end">{{ Item.phone }}</dd>

          <dt class="col-sm-3 text-start">from</dt>
          <dd class="col-sm-9 text-end">{{ getDateString(Item.fromDate) }}</dd>

          <dt class="col-sm-3 text-start">to</dt>
          <dd class="col-sm-9 text-end">{{ getRemain(Item.toDate) }}</dd>
        </dl>

        <button cButton color="primary" class="mb-3">Send Email</button>
        <button cButton color="primary" class="mb-3">Send Whats App</button>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col md="9">
    <c-card>
      <c-card-header ngPreserveWhitespaces>
        <strong>User</strong> <small>{{ Item.id ? "edit" : "add" }}</small>
      </c-card-header>
      <c-card-header>
        <c-nav class="card-header-tabs" variant="tabs">
          <a cNavLink [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" [active]="true">Plans</a>
          <a cNavLink [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1">Logs</a>
          <a cNavLink [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="2">Payment</a>
          <a cNavLink [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="3">Info</a>
        </c-nav>
      </c-card-header>
      <c-card-body>
        <c-tab-content #tabContent="cTabContent">
          <c-tab-pane>
            This is some placeholder content the <strong>Home</strong> tab's associated content. Clicking another tab
            will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the
            content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.
          </c-tab-pane>
          <c-tab-pane>
            This is some placeholder content the <strong>Logs</strong> tab's associated content. Clicking another
            tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the
            content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.
          </c-tab-pane>
          <c-tab-pane>
            <table cTable app-table-view #PaymentView
              [columns-info]="columns_info"
              [striped]="true" 
              [hover]="true"
              [small]="true">
            </table>
          </c-tab-pane>
          <c-tab-pane>
            <p class="text-medium-emphasis small">
              More complex forms can be built using our grid classes. Use these for
              form layouts that require multiple columns, varied widths, and
              additional alignment options.
            </p>
            <form>
              <c-row class="mb-3">
                <c-col sm="10" class="offset-md-2">
                  <c-form-check>
                    <input cFormCheckInput id="form_active" name="form_active" type="checkbox"
                      [checked]="Item.active ? Item.active : true" (change)="Item.active = val($event)" />
                    <label cFormCheckLabel for="form_active">{{ titleOf('active') }}</label>
                  </c-form-check>
                </c-col>
              </c-row>
              <c-row class="mb-3">
                <label cLabel class="col-md-2 col-form-label" for="form_username">
                  {{ titleOf('username') }}
                </label>
                <c-col md="6">
                  <input cFormControl id="form_username" type="text" [value]="Item.username"
                    (change)="Item.username = val($event)" />
                </c-col>
              </c-row>
              <c-row class="mb-3">
                <label cLabel class="col-md-2 col-form-label" for="form_password">
                  {{ titleOf('password') }}
                </label>
                <c-col md="6">
                  <input cFormControl id="form_password" type="text" [value]="Item.password"
                    (change)="Item.password = val($event)" />
                </c-col>
              </c-row>
              <c-row class="mb-3">
                <label cLabel class="col-md-2 col-form-label" for="form_realm">
                  {{ titleOf('realm') }}
                </label>
                <c-col md="6">
                  <select app-select cSelect aria-label="Realm" id="form_realm" [value]="Item.realm"
                    (change)="Item.realm = val($event)" [service]="realms_srv">
                  </select>
                </c-col>
              </c-row>
              <c-row class="mb-3">
                <label cLabel class="col-md-2 col-form-label" for="form_profile">
                  {{ titleOf('profile') }}
                </label>
                <c-col md="6">
                  <select app-select cSelect aria-label="Profile" id="form_profile" [value]="Item.profile"
                    (change)="Item.profile = val($event)" [service]="profile_srv">
                  </select>
                </c-col>
              </c-row>
              <c-row class="mb-3">
                <label cLabel class="col-md-2 col-form-label" for="form_fromDate">
                  {{ titleOf('fromDate') }}
                </label>
                <c-col md="6">
                  <input cFormControl id="form_fromDate" type="date" [value]="Item.fromDate | date:'yyyy-MM-dd'"
                    (change)="Item.fromDate = val($event)" />
                </c-col>
              </c-row>
              <c-row class="mb-3">
                <label cLabel class="col-md-2 col-form-label" for="form_toDate">
                  {{ titleOf('toDate') }}
                </label>
                <c-col md="6">
                  <input cFormControl id="form_toDate" type="date" [value]="Item.toDate | date:'yyyy-MM-dd'"
                    (change)="Item.toDate = val($event)" />
                </c-col>
              </c-row>
              <c-row class="mb-3">
                <label cLabel class="col-md-2 col-form-label" for="form_name">
                  {{ titleOf('name') }}
                </label>
                <c-col md="6">
                  <input cFormControl id="form_name" type="text" [value]="Item.name"
                    (change)="Item.name = val($event)" />
                </c-col>
              </c-row>
              <c-row class="mb-3">
                <label cLabel class="col-md-2 col-form-label" for="form_surname">
                  {{ titleOf('surname') }}
                </label>
                <c-col md="6">
                  <input cFormControl id="form_surname" type="text" [value]="Item.surname"
                    (change)="Item.surname = val($event)" />
                </c-col>
              </c-row>
              <c-row class="mb-3">
                <label cLabel class="col-md-2 col-form-label" for="form_phone">
                  {{ titleOf('phone') }}
                </label>
                <c-col md="6">
                  <input cFormControl id="form_phone" type="phone" [value]="Item.phone"
                    (change)="Item.phone = val($event)" />
                </c-col>
              </c-row>
              <c-row class="mb-3">
                <label cLabel class="col-md-2 col-form-label" for="form_email">
                  {{ titleOf('email') }}
                </label>
                <c-col md="6">
                  <input cFormControl id="form_email" type="email" [value]="Item.email"
                    (change)="Item.email = val($event)" />
                </c-col>
              </c-row>
              <c-row class="mb-3">
                <label cLabel class="col-md-2 col-form-label" for="form_address">
                  {{ titleOf('address') }}
                </label>
                <c-col md="8">
                  <textarea cFormControl id="form_address" rows="3" [value]="Item.address"
                    (change)="Item.address = val($event)"></textarea>
                </c-col>
              </c-row>
              <c-row class="mb-3">
                <label cLabel class="col-md-2 col-form-label" for="form_modified">
                  {{ titleOf('modified') }}
                </label>
                <c-col md="6">
                  <input cFormControl disabled id="form_modified" type="text"
                    [value]="Item.modified ? getDateTimeString(Item.modified) : ''" />
                </c-col>
              </c-row>
              <c-row class="mb-3">
                <label cLabel class="col-md-2 col-form-label" for="form_created">
                  {{ titleOf('created') }}
                </label>
                <c-col md="6">
                  <input cFormControl disabled id="form_created" type="text"
                    [value]="Item.created ? getDateTimeString(Item.created) : ''" />
                </c-col>
              </c-row>
              <app-form list-route="/users" [is-new]="Item.id ? false: true" (submit)="Submit()" (delete)="Delete()">
              </app-form>
            </form>
          </c-tab-pane>
        </c-tab-content>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>