<c-row>
  <c-col md="3">
    <c-card class="text-center" [cBorder]="{top: {color: 'primary', width: 3}}">
      <c-card-body>
        <h5 cCardTitle *ngIf="Item.surname ?? Item.name ? true : false">
          {{ Item.name }} {{ Item.surname}}
        </h5>
        <h4 cCardTitle>{{ Item.username }}</h4>

        <dl class="row text-truncate">
          <dt class="col-sm-3 text-start">realm</dt>
          <dd class="col-sm-9 text-end">{{ Item.realm }}</dd>

          <dt class="col-sm-3 text-start">profile</dt>
          <dd class="col-sm-9 text-end">{{ Item.profile }}</dd>

          <dt class="col-sm-3 text-start">phone</dt>
          <dd class="col-sm-9 text-end">{{ Item.phone }}</dd>

          <dt class="col-sm-3 text-start">from</dt>
          <dd class="col-sm-9 text-end">{{ getDateString(Item.fromDate) }}</dd>

          <dt class="col-sm-3 text-start">to</dt>
          <dd class="col-sm-9 text-end">{{ getRemain(Item.toDate) }}</dd>
        </dl>

        <button cButton color="primary" class="mb-3">Send Email</button>
        <button cButton color="primary" class="mb-3">Send Whats App</button>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col md="9">
    <c-card>
      <c-card-header ngPreserveWhitespaces>
        <strong>User</strong> <small>{{ Item.id ? "edit" : "add" }}</small>
      </c-card-header>
      <c-card-header>
        <c-nav class="card-header-tabs" variant="tabs">
          <a cNavLink [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" [active]="true">Plans</a>
          <a cNavLink [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1">Logs</a>
          <a cNavLink [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="3">Info</a>
        </c-nav>
      </c-card-header>
      <c-card-body>
        <c-tab-content #tabContent="cTabContent">
          <c-tab-pane>
            This is some placeholder content the <strong>Home</strong> tab's associated content. Clicking another tab
            will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the
            content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.
          </c-tab-pane>
          <c-tab-pane>
            This is some placeholder content the <strong>Logs</strong> tab's associated content. Clicking another
            tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the
            content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.
          </c-tab-pane>
          <c-tab-pane>
            <table cTable app-table-view #PaymentView
              [columns-info]="columns_info"
              [striped]="true" 
              [hover]="true"
              [small]="true">
            </table>
          </c-tab-pane>
          <c-tab-pane>
            <app-user-info [item]="Item"></app-user-info>
          </c-tab-pane>
        </c-tab-content>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
