<c-row>
  <c-col lg="3" class=" mb-3">
    <c-card class="text-center" [cBorder]="{top: {color: 'primary', width: 3}}">
      <c-card-body>
        <h5 cCardTitle *ngIf="Item.surname ?? Item.name ? true : false">
          {{ Item.name }} {{ Item.surname}}
        </h5>
        <h4 cCardTitle>{{ Item.username }}</h4>

        <dl class="row text-truncate">
          <dt class="col-sm-3 text-start">realm</dt>
          <dd class="col-sm-9 text-end">{{ Item.realm }}</dd>

          <dt class="col-sm-3 text-start">profile</dt>
          <dd class="col-sm-9 text-end">{{ Item.profile }}</dd>

          <dt class="col-sm-3 text-start">phone</dt>
          <dd class="col-sm-9 text-end">{{ Item.phone }}</dd>

          <dt class="col-sm-3 text-start">from</dt>
          <dd class="col-sm-9 text-end">{{ getDateString(Item.fromDate) }}</dd>

          <dt class="col-sm-3 text-start">to</dt>
          <dd class="col-sm-9 text-end">{{ getRemain(Item.toDate) }}</dd>
        </dl>
        <div class="mx-3 mb-1" style="position: relative; display: inline-block; vertical-align: middle;">
          <button cButton routerLink="/users" class="me-1 mb-1" variant="outline" color="secondary">
              <svg cIcon name="cilArrowLeft" title="Cancel" size="2xl"></svg>
          </button>
          <button cButton (click)="Reload()" class="me-1 mb-1" variant="outline" color="secondary">
              <svg cIcon name="cilReload" title="cilReload" size="2xl"></svg>
          </button>
          <button cButton [cModalToggle]="UserConfirmDelete.id" class="me-1 mb-1" variant="outline" color="danger">
            <svg cIcon name="cilTrash" title="Delete" size="2xl"></svg>
          </button>
          <button cButton class="me-1 mb-1" variant="outline" color="primary">
            <svg cIcon name="cilChart" title="cilChart" size="2xl"></svg>
          </button>
          <button cButton class="me-1 mb-1" variant="outline" color="success">
            <svg cIcon name="cilChartLine" title="cilChartLine" size="2xl"></svg>
          </button>
          <button cButton [routerLink]="'/paymets/edit/user/' + Item.id" class="me-1 mb-1" variant="outline" color="info">
            <svg cIcon name="cilMoney" title="Payment" size="2xl"></svg>
          </button>
          <button cButton class="me-1 mb-1" variant="outline" color="info">
            <svg cIcon name="cilEnvelopeClosed" title="Send to Email" size="2xl"></svg>
          </button>
          <button cButton class="me-1 mb-1" variant="outline" color="info">
            <svg cIcon name="cibWhatsapp" title="Send to Whatsapp" size="2xl"></svg>
          </button>
          <c-modal #UserConfirmDelete alignment="center" id="UserConfirmDelete">
            <c-modal-header>
              <h5 cModalTitle>Delete Confirm</h5>
              <button [cModalToggle]="UserConfirmDelete.id" cButtonClose></button>
            </c-modal-header>
            <c-modal-body>
              Deleting Item
            </c-modal-body>
            <c-modal-footer>
              <button cButton [cModalToggle]="UserConfirmDelete.id" color="secondary">Close</button>
              <button cButton [cModalToggle]="UserConfirmDelete.id" color="danger" (click)="Delete()">Delete</button>
            </c-modal-footer>
          </c-modal>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col lg="9">
    <c-card>
      <c-card-header ngPreserveWhitespaces>
        <strong>User</strong> <small>{{ Item.id ? "edit" : "add" }}</small>
      </c-card-header>
      <c-card-header>
        <c-nav class="card-header-tabs" variant="tabs">
          <a cNavLink [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" [active]="true">Plans</a>
          <a cNavLink [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1">Logs</a>
          <a cNavLink [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="2">Info</a>
        </c-nav>
      </c-card-header>
      <c-card-body>
        <c-tab-content #tabContent="cTabContent">
          <c-tab-pane>
            <app-user-invoice></app-user-invoice>
          </c-tab-pane>
          <c-tab-pane>
            <app-user-log #UserLogs></app-user-log>
          </c-tab-pane>
          <c-tab-pane>
            <app-user-info [item]="Item"></app-user-info>
          </c-tab-pane>
        </c-tab-content>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
