<div class="d-grid gap-2 d-md-block">
  <button cButton (click)="submit.emit()" class="me-md-2">Submit</button>
  <button cButton [routerLink]="list_route" class="me-md-2" color="secondary" variant="outline">Cancel</button>
  <button cButton [cModalToggle]="ConfirmDelete.id" class="me-md-2" color="danger" variant="outline"
    *ngIf="!is_new">Delete</button>
  <c-modal #ConfirmDelete alignment="center" id="ConfirmDelete">
    <c-modal-header>
      <h5 cModalTitle>Delete Confirm</h5>
      <button [cModalToggle]="ConfirmDelete.id" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      Deleting Item
    </c-modal-body>
    <c-modal-footer>
      <button cButton [cModalToggle]="ConfirmDelete.id" color="secondary">Close</button>
      <button cButton [cModalToggle]="ConfirmDelete.id" color="danger" (click)="delete.emit()">Delete</button>
    </c-modal-footer>
  </c-modal>
</div>