<form class="mb-3">
  <c-row class="mb-3">
    <label cLabel class="col-md-2 col-form-label" for="form_profile">
      {{ titleOf('profileId') }}
    </label>
    <c-col md="6">
      <select app-select cSelect aria-label="Profile" id="form_profile"
              [value]="Item.profileId" [default-id]="UserItem.profileId"
              (change)="Item.profileId = num($event)" [service]="profile_srv">
      </select>
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-md-2 col-form-label" for="form_months">
      {{ titleOf('months') }}
    </label>
    <c-col md="6">
      <input cFormControl id="form_months" type="number" [value]="Item.months"
             (change)="Item.months = num($event)" />
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-md-2 col-form-label" for="form_startDate">
      {{ titleOf('startDate') }}
    </label>
    <c-col md="6">
      <input cFormControl id="form_startDate" type="date" [value]="Item.startDate"
             (change)="Item.startDate = val($event)" />
    </c-col>
  </c-row>
  <c-row class="mb-3">
    <label cLabel class="col-md-2 col-form-label" for="form_overridePrice">
      {{ titleOf('overridePrice') }}
    </label>
    <c-col md="6">
      <input cFormControl id="form_overridePrice" type="number" [value]="Item.overridePrice"
             (change)="Item.overridePrice = num($event)" />
    </c-col>
  </c-row>
  <app-form (submit)="Submit()" [show-mode]="1"></app-form>
</form>
<c-card *ngFor="let invoice of Invoices;" class="mb-3" cBorder="dark">
  <c-card-header ngPreserveWhitespaces>
    <strong>{{ invoice.plan?.title ?? "(Without plan)" }}</strong> <small>Balance: </small><strong>{{ invoice.balance }}</strong>
    <button cButton (click)="Delete(invoice.plan?.validTime)" variant="outline"
            color="danger" size="sm" class="float-end" *ngIf="invoice.plan?.validTime">
      Delete
    </button>
  </c-card-header>
  <c-card-body>
    <c-row class="mb-3">
      <c-col lg="6">
        <dl class="row text-truncate mb-0">
          <dt class="col-sm-3 text-start">{{ titleOf('simultaneousUses') }}</dt>
          <dd class="col-sm-9 text-end">{{ invoice.plan?.simultaneousUses }}</dd>
        </dl>
      </c-col>
      <c-col lg="6">
        <dl class="row text-truncate mb-0">
          <dt class="col-sm-3 text-start">{{ titleOf('validTime') }}</dt>
          <dd class="col-sm-9 text-end">{{ getDateString(invoice.plan?.validTime ?? null) }}</dd>
        </dl>
      </c-col>
      <c-col lg="6">
        <dl class="row text-truncate mb-0">
          <dt class="col-sm-3 text-start">{{ titleOf('price') }}</dt>
          <dd class="col-sm-9 text-end">{{ invoice.plan?.price }}</dd>
        </dl>
      </c-col>
      <c-col lg="6">
        <dl class="row text-truncate mb-0">
          <dt class="col-sm-3 text-start">{{ titleOf('title') }}</dt>
          <dd class="col-sm-9 text-end">{{ invoice.plan?.title }}</dd>
        </dl>
      </c-col>
    </c-row>
    <table cTable class="small" [striped]="true" [hover]="true">
      <thead cTableColor="secondary">
        <tr>
          <th scope="col">#</th>
          <th>{{ titleOf('approved', payment_columns_info) }}</th>
          <th>{{ titleOf('value', payment_columns_info) }}</th>
          <th>{{ titleOf('dateTime', payment_columns_info) }}</th>
          <th>{{ titleOf('trnsactionId', payment_columns_info) }}</th>
          <th>{{ titleOf('bankAccount', payment_columns_info) }}</th>
          <th>{{ titleOf('bankName', payment_columns_info) }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of invoice.payments; let index = index">
          <td scope="row">{{ index + 1 }}</td>
          <td style="white-space: nowrap;">{{ payment.approved }}</td>
          <td style="white-space: nowrap;">{{ payment.value }}</td>
          <td style="white-space: nowrap;">{{ getDateString(payment.dateTime) }}</td>
          <td style="white-space: nowrap;">{{ payment.trnsactionId }}</td>
          <td style="white-space: nowrap;">{{ payment.bankAccount }}</td>
          <td style="white-space: nowrap;">{{ payment.bankName }}</td>
        </tr>
      </tbody>
    </table>
  </c-card-body>
  <c-card-footer>Paid: {{ PaymentSum(invoice.payments) }}</c-card-footer>
</c-card>
