<thead cTableColor="dark">
	<tr>
		<th scope="col">#</th>
		<th *ngFor="let column of DataColumns;">
			<span>{{ titleOf(column) }}</span>
			<hr *ngIf="filter" />
			<input cFormControl *ngIf="filter" [value]="GetFilterColumn(column)" (change)="SetFilterColumn(column, val($event))" type="text" />
		</th>
	</tr>
</thead>
<tbody>
	<tr *ngFor="let row of DataSource; let index = index" (click)="SelectRow(index)"
		cTableColor="{{ IsSelected(index) ? 'primary' : '' }}">

		<td scope="row">{{ index + 1 }}</td>
		<td *ngFor="let col of DataColumns;">{{ row[col] }}</td>
	</tr>
</tbody>
