
<c-button-group>
    <button cButton (click)="realod.emit()" variant="outline" color="secondary">
        <svg cIcon [name]="cilReload" [title]="cilReload" size="2xl"></svg>
    </button>
    <button cButton (click)="add.emit()" variant="outline" color="success">
        <svg cIcon [name]="cilPlus" [title]="cilPlus" size="2xl"></svg>
    </button>
    <button cButton (click)="edit.emit()" variant="outline" color="secondary">
        <svg cIcon [name]="cilPencil" [title]="cilPencil" size="2xl"></svg>
    </button>
    <button cButton (click)="remove.emit()" variant="outline" color="danger">
        <svg cIcon [name]="cilTrash" [title]="cilTrash" size="2xl"></svg>
    </button>
</c-button-group>